<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>B2C商城-订单结算</title>
    <!--css文件-->
    <link rel="stylesheet" href="../../../statics/layui/css/layui.css">
    <link rel="stylesheet" href="../../../statics/stylesheets/style.css">

    <!--js文件-->
    <script src="../../../statics/scripts/jquery.min.js"></script>
    <script src="../../../statics/layui/layui.js"></script>
    <script src="../../../statics/scripts/common.js"></script>
</head>

<body class="is-index">
<!-- 头部 header -->

    <!-- 顶部导航 -->
    <div class="topbar" id="topbar" >
        <div class="wrap-1200">
            <div class="topbar-l fl">
                <div class="topbar-nav-item" style="margin-left:0;" >
                    <div class="item-hd" >
                        <a href="../../../index.html" target="_blank" >
                           <i class="layui-icon layui-icon-home topbar-icon"></i>您好，欢迎来到商城！</a></div>
                </div>
                <div class="topbar-nav-item">
                    <div class="item-hd">
                        <div class="topbar-notice" >
                            <ul class="topbar-notice-list" id="topbarNotice">
                                <li class="topbar-notice-item show" >
                                    <a class="topbar-notice-text" href="javascript:;" target="_blank" >【福利】1元包邮团，早市抵现红包在严选A...</a>
                                </li>
                                <li class="yx-cp-noticeItem" >
                                    <a class="topbar-notice-text" href="javascript:;" target="_blank">防诈骗公告</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="topbar-r fr">
                <div style="float:left;">
                    <div class="topbar-nav-item" >
                        <div class="item-hd" >
                            <a href="../../passport/signin.html" target="_blank" title="网易严选登录" >登录</a>
                        </div>
                    </div>
                    <div class="topbar-nav-item" style="margin-left:20px;" >
                        <div class="item-hd" >
                            <a href="../../passport/signup.html" target="_blank">注册</a>
                        </div>
                    </div>
                </div>
                <div class="topbar-nav-item">
                    <div class="item-hd line" >
                        <a href="javascript:;" target="_blank" >我的订单</a></div>
                </div>
                <div class="topbar-nav-item" data-dropdown="customerServiceDropdown" >
                    <div class="item-hd line" >
                        <span>客户服务</span><i class="layui-icon layui-icon-down topbar-icon" style="margin-left: 10px;"></i>
                    </div>
                    <div class="item-td">
                        <div class="topbar-dropdown-menu">
                            <a class="menu-item" href="javascript:;" >在线客服</a>
                            <a class="menu-item" href="javascript:;" target="_blank">帮助中心</a>
                            <a href="javascript:;" class="menu-item" target="_blank">商务合作</a>
                            <a href="javascript:;" class="menu-item" target="_blank">开放平台</a>
                        </div>
                    </div>
                </div>
                <div class="topbar-nav-item" data-dropdown="appDownload">
                    <div class="item-hd line" >
                        <a target="_blank" href="javascript:;" ><i class="layui-icon layui-icon-cellphone topbar-icon "></i><span>手机版</span></a>
                    </div>
                    <div class="item-td">
                        <div class="topbar-dropdown-menu topbar-dropdown-menu-mobile" >
                            <div class="QR-code" >
                                <img src="../../../statics/images/demo_qrcode.png"/>
                            </div>
                            <span class="yx-cp-QRtxt">扫码浏览移动端</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 顶部导航end -->

    <!-- logo搜索 -->
    <div class="header">
        <div class="wrap-1200 clearfix pr">
            <div class="logo">
                <a href="../../../index.html">
                    <img src="../../../statics/images/demo_logo.png" alt="商城Logo" />
                </a>
            </div>
            <div class="searchbar">
                <form class="search-form" action="" method="post">
                    <input type="text" autocomplete="off" placeholder="搜索想要的商品"/><button class="submit" type="button"><i class="layui-icon layui-icon-search icon-search"></i></button>
                </form>
                <div class="search-hot">
                    <a href="javascript:;">iphone8</a><a href="javascript:;">chanel口红</a><a href="javascript:;">连衣裙</a>
                </div>
            </div>
            <!-- 迷你购物车 -->
            <div class="mini-cart">
                <div class="mini-cart-con">
                    <a href="index.html">
                      <i class="layui-icon layui-icon-cart"></i>
                      我的购物车
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- logo搜索 end -->

    <!-- 头部导航栏 -->
    <div class="nav">
        <div class="wrap-1200 clearfix">
            <div class="nav-left">
                <div class="category_handle">
                    <div class="all-cate">
                        <a href="#">全部商品分类</a>
                    </div>
                    <div class="category">
                        <ul class="category-primary">
                            <li>
                                <div class="category-primary-item">
                                    <a href="../../gallery/index.html">服装鞋包 </a>
                                    <p>
                                        <a href="../../gallery/index.html">女装</a><a href="../../gallery/index.html">皮鞋</a><a href="../gallery/index.html">箱包</a>
                                    </p>
                                    <span class="layui-icon layui-icon-right"></span>
                                </div>
                                <div class="category-sub clearfix">
                                    <div class="category-sub-l fl">
                                        <div class="category-sub-item clearfix">
                                            <div class="category-sub-title fl">
                                                <a href="javascript:;">女装<span class="layui-icon layui-icon-right"></span></a>
                                            </div>
                                            <ul class="fl clearfix">
                                                <li>|<a href="javascript:;">连衣裙</a></li>
                                                <li>|<a href="javascript:;">外套</a></li>
                                                <li>| <a href="javascript:;">羽绒服</a></li>
                                                <li>|<a href="javascript:;">羊绒衫</a></li>
                                                <li>|<a href="javascript:;">卫衣</a></li>
                                                <li>|<a href="javascript:;">棉服</a></li>
                                                <li>|<a href="javascript:;">打底衫</a></li>
                                                <li>|<a href="javascript:;">T恤</a></li>
                                                <li>|<a href="javascript:;">小西服</a></li>
                                                <li>|<a href="javascript:;">休闲裤</a></li>
                                                <li>|<a href="javascript:;">牛仔裤</a></li>
                                                <li>|<a href="javascript:;">短裤</a></li>
                                                <li>|<a href="javascript:;">裙子</a></li>
                                            </ul>
                                        </div>
                                        <div class="category-sub-item clearfix">
                                            <div class="category-sub-title fl">
                                                <a href="javascript:;">女装<span class="layui-icon layui-icon-right"></span></a>
                                            </div>
                                            <ul class="fl clearfix">
                                                <li>|<a href="javascript:;">连衣裙</a></li>
                                                <li>|<a href="javascript:;">外套</a></li>
                                                <li>| <a href="javascript:;">羽绒服</a></li>
                                                <li>|<a href="javascript:;">羊绒衫</a></li>
                                                <li>|<a href="javascript:;">卫衣</a></li>
                                                <li>|<a href="javascript:;">棉服</a></li>
                                                <li>|<a href="javascript:;">打底衫</a></li>
                                                <li>|<a href="javascript:;">T恤</a></li>
                                                <li>|<a href="javascript:;">小西服</a></li>
                                                <li>|<a href="javascript:;">休闲裤</a></li>
                                                <li>|<a href="javascript:;">牛仔裤</a></li>
                                                <li>|<a href="javascript:;">短裤</a></li>
                                                <li>|<a href="javascript:;">裙子</a></li>
                                            </ul>
                                        </div>
                                        <div class="category-sub-item clearfix">
                                            <div class="category-sub-title fl">
                                                <a href="javascript:;">女装<span class="layui-icon layui-icon-right"></span></a>
                                            </div>
                                            <ul class="fl clearfix">
                                                <li>|<a href="javascript:;">连衣裙</a></li>
                                                <li>|<a href="javascript:;">外套</a></li>
                                                <li>| <a href="javascript:;">羽绒服</a></li>
                                                <li>|<a href="javascript:;">羊绒衫</a></li>
                                                <li>|<a href="javascript:;">卫衣</a></li>
                                                <li>|<a href="javascript:;">棉服</a></li>
                                                <li>|<a href="javascript:;">打底衫</a></li>
                                                <li>|<a href="javascript:;">T恤</a></li>
                                                <li>|<a href="javascript:;">小西服</a></li>
                                                <li>|<a href="javascript:;">休闲裤</a></li>
                                                <li>|<a href="javascript:;">牛仔裤</a></li>
                                                <li>|<a href="javascript:;">短裤</a></li>
                                                <li>|<a href="javascript:;">裙子</a></li>
                                            </ul>
                                        </div>
                                        <div class="category-sub-item clearfix">
                                            <div class="category-sub-title fl">
                                                <a href="javascript:;">女装<span class="layui-icon layui-icon-right"></span></a>
                                            </div>
                                            <ul class="fl clearfix">
                                                <li>|<a href="javascript:;">连衣裙</a></li>
                                                <li>|<a href="javascript:;">外套</a></li>
                                                <li>| <a href="javascript:;">羽绒服</a></li>
                                                <li>|<a href="javascript:;">羊绒衫</a></li>
                                                <li>|<a href="javascript:;">卫衣</a></li>
                                                <li>|<a href="javascript:;">棉服</a></li>
                                                <li>|<a href="javascript:;">打底衫</a></li>
                                                <li>|<a href="javascript:;">T恤</a></li>
                                                <li>|<a href="javascript:;">小西服</a></li>
                                                <li>|<a href="javascript:;">休闲裤</a></li>
                                                <li>|<a href="javascript:;">牛仔裤</a></li>
                                                <li>|<a href="javascript:;">短裤</a></li>
                                                <li>|<a href="javascript:;">裙子</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="category-sub-r fr">

                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="category-primary-item">
                                    <a href="javascript:;">服装鞋包 </a>
                                    <p>
                                        <a href="javascript:;">女装</a><a href="javascript:;">皮鞋</a><a href="javascript:;">箱包</a>
                                    </p>
                                    <span class="layui-icon layui-icon-right"></span>
                                </div>

                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="nav-right">
                <div class="menu">
                    <span><a href="javascript:;">首页</a></span><span><a href="javascript:;">会员中心</a></span><span><a href="javascript:;">热门活动</a></span>
                </div>
            </div>

        </div>
    </div>
    <!-- 头部导航栏 end -->
<!-- 头部 header end -->

<div class="main bg-gray pb20">
    <div class="wrap-1200">
        <div class="checkout-container">
            <h2 class="checkout-tit">填写并核对订单信息</h2>
            <form class="layui-form checkout-form" id="checkoutForm">
                <div class="section order-address">
                    <div class="section-title">选择收货地址</div>
                    <div class="section-content">
                        <ul class="option-list clearfix">
                            <li class="option-item active">
                                <div class="option-box">
                                    <div class="address-item-con">
                                        <p class="o-receiver"><span>汪雪婷 收</span><i>默认地址</i></p>
                                        <p>上海 浦东新区 北蔡镇</p>
                                        <p>牡丹路258弄22号301室</p>
                                        <p>13681620332</p>
                                        <div class="action-btn-group">
                                            <a class="link action_address_edit" href="javascript:;">修改</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="option-item">
                                <div class="option-box">
                                    <div class="address-item-con">
                                        <p class="o-receiver"><span>汪雪婷 收</span><a class="link fr  action_address_default" href="javascript:;">设为默认地址</a></p>
                                        <p>上海 浦东新区 北蔡镇</p>
                                        <p class="ml-ellipsis" title="牡丹路258弄22号301室牡丹路258弄22号301室牡丹路258弄22号301室牡丹路258弄22号301室牡丹路258弄22号301室">牡丹路258弄22号301室牡丹路258弄22号301室牡丹路258弄22号301室牡丹路258弄22号301室牡丹路258弄22号301室</p>
                                        <p>13681620332</p>
                                        <div class="action-btn-group">
                                            <a class="link action_address_edit" href="javascript:;">修改</a>
                                            <a class="link action_address_delete" href="javascript:;">删除</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="option-item">
                                <div class="option-box">
                                    <div class="address-item-con">
                                        <p class="o-receiver">
                                            <span>汪雪婷 收</span><a class="link fr  action_address_default" href="javascript:;">设为默认地址</a></p>
                                        <p>上海 浦东新区 北蔡镇</p>
                                        <p class="ml-ellipsis" title="牡丹路258弄22号301室牡丹路258弄">牡丹路258弄22号301室牡丹路258弄22号</p>
                                        <p>13681620332</p>
                                        <div class="action-btn-group">
                                            <a class="link action_address_edit" href="javascript:;">修改</a>
                                            <a class="link action_address_delete" href="javascript:;">删除</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="option-item">
                                <div class="option-box">
                                    <div class="address-item-con">
                                        <p class="o-receiver">
                                            <span>刘德华 收</span><a class="link fr  action_address_default" href="javascript:;">设为默认地址</a></p>
                                        <p>上海 浦东新区 北蔡镇</p>
                                        <p class="ml-ellipsis" title="牡丹路258弄22号301">牡丹路258弄22号301</p>
                                        <p>13681620332</p>
                                        <div class="action-btn-group">
                                            <a class="link action_address_edit" href="javascript:;">修改</a>
                                            <a class="link action_address_delete" href="javascript:;">删除</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="option-item">
                                <div class="option-box">
                                    <div class="address-item-con">
                                        <p class="o-receiver">
                                            <span>刘德华 收</span><a class="link fr  action_address_default" href="javascript:;">设为默认地址</a></p>
                                        <p>上海 浦东新区 北蔡镇</p>
                                        <p class="ml-ellipsis" title="牡丹路258弄22号301室牡丹路258弄22号301室牡丹路258弄22号301室牡丹路258弄22号301室牡丹路258弄22号301室">牡丹路258弄22号301室</p>
                                        <p>13681620332</p>
                                        <div class="action-btn-group">
                                            <a class="link action_address_edit" href="javascript:;">修改</a>
                                            <a class="link action_address_delete" href="javascript:;">删除</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="option-item">
                                <div class="option-box">
                                    <div class="address-item-con">
                                        <p class="o-receiver">
                                            <span>刘德华 收</span><a class="link fr  action_address_default" href="javascript:;">设为默认地址</a></p>
                                        <p>上海 浦东新区 北蔡镇</p>
                                        <p class="ml-ellipsis" title="牡丹路258弄22号301室牡丹路258弄22号301室牡丹路258弄22号301室牡丹路258弄22号301室牡丹路258弄22号301室">牡丹路258弄22号301室牡丹路258弄22号301室牡丹路258弄22号301室牡丹路258弄22号301室牡丹路258弄22号301室</p>
                                        <p>13681620332</p>
                                        <div class="action-btn-group">
                                            <a class="link action_address_edit" href="javascript:;">修改</a>
                                            <a class="link action_address_delete" href="javascript:;">删除</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <p><a href="javascript:;" class="more-address active_more_address">更多地址 <i class="layui-icon layui-icon-down"></i></a></p>
                        <p><button type="button" class="mt10 layui-btn layui-btn-primary">+ 新增收货地址</button></p>
                    </div>
                </div>
                <div class="section order-delivery">
                    <div class="section-title">配送方式</div>
                    <div class="section-content">
                        <ul class="option-list clearfix">
                            <li class="option-item active">
                                <a class="option-box" href="javascript:;"><em>顺丰快递</em></a>
                            </li>
                            <li class="option-item">
                                <a class="option-box" href="javascript:;"><em>普通快递</em></a>
                            </li>
                        </ul>
                        <p class="o-freight"><i class="layui-icon layui-icon-tips"></i>运费：<span class="price">￥20.00</span></p>
                    </div>
                </div>
                <div class="section order-payment">
                    <div class="section-title">支付方式</div>
                    <div class="section-content">
                        <ul class="option-list clearfix">
                            <li class="option-item">
                                <a class="option-box" href="javascript:;"><em>货到付款</em></a>
                            </li>
                            <li class="option-item active">
                                <a class="option-box" href="javascript:;"><em>支付宝</em></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="section order-invoice">
                    <div class="section-title">发票信息</div>
                    <div class="section-content">
                        <div class="layui-form-item">
                            <label class="layui-form-label">是否要开发票？</label>
                            <div class="layui-input-block">
                                <input type="radio" name="isInvoice" value="否" title="否" lay-filter="isInvoice">
                                <input type="radio" name="isInvoice" value="是" title="是" lay-filter="isInvoice" checked>
                            </div>
                        </div>
                        <ul class="option-list clearfix">
                            <li class="option-item active">
                                <div class="option-box">
                                    <div class="invoice-item-con">
                                        <p class="o-name">上海感豪信息技术有限公司</p>
                                        <p class="o-type">公司</p>
                                        <p class="action-btn-group">
                                            <a class="layui-btn layui-btn-primary layui-btn-xs action_invoice_edit" href="javascript:;">编辑</a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="option-item">
                                <div class="option-box">
                                    <div class="invoice-item-con">
                                        <p class="o-name">刘德华</p>
                                        <p class="o-type">个人</p>
                                        <p class="action-btn-group">
                                            <a class="layui-btn layui-btn-primary layui-btn-xs action_invoice_edit" href="javascript:;">编辑</a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <p class="mt10"><button type="button" class="layui-btn layui-btn-primary action_add_invoice">+ 新增发票抬头</button></p>
                    </div>
                </div>
                <div class="section order-goodslist">
                    <div class="section-title">商品清单</div>
                    <div class="section-content">
                        <table class="goodslist-table">
                            <thead>
                                <tr>
                                    <th width="50%">商品</th>
                                    <th width="12%">单价</th>
                                    <th width="12%">数量</th>
                                    <th width="12%">优惠金额</th>
                                    <th width="14%">小计</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="goods-item">
                                    <td style="text-align: left">
                                        <div class="goods-info">
                                            <div class="img">
                                                <a href="../product/index.html">
                                                    <img class="img-hover" src="https://img14.360buyimg.com/n4/s160x160_jfs/t16960/219/2432021016/244846/2ac84b4a/5afc045cN7b06b30f.jpg">
                                                </a>
                                            </div>
                                            <div class="text">
                                                <p class="ml-ellipsis pt-name"><a href="../product/index.html">福临门 东北优质 大米 8kg</a></p>
                                                <p class="spec">重量：8kg</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>￥7099.00</td>
                                    <td>1</td>
                                    <td>-</td>
                                    <td class="price">￥7099.00</td>
                                </tr>
                                <tr class="goods-item">
                                    <td style="text-align: left">
                                        <div class="goods-info">
                                            <div class="img">
                                                <a href="../product/index.html">
                                                    <img class="img-hover" src="https://img14.360buyimg.com/n4/s160x160_jfs/t16960/219/2432021016/244846/2ac84b4a/5afc045cN7b06b30f.jpg">
                                                </a>
                                            </div>
                                            <div class="text">
                                                <p class="ml-ellipsis pt-name"><a href="../product/index.html">福临门 东北优质 大米 8kg</a></p>
                                                <p class="spec">重量：8kg</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>￥7099.00</td>
                                    <td>1</td>
                                    <td>-</td>
                                    <td class="price">￥7099.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="checkout-footer clearfix">
                    <div class="checkout-footer-l">
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">订单备注</label>
                            <div class="layui-input-block">
                                <textarea name="desc" placeholder="选填：本次交易的补充说明（所填内容建议已经和商家达成一致意见， 85字以内）" class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">优惠券抵扣</label>
                            <div class="layui-input-block">
                                <select name="city" lay-verify="required">
                                    <option value="0">满500元减5元</option>
                                    <option value="1">不使用优惠券</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="checkout-footer-r">
                        <dl>
                            <dt>商品总数量：</dt>
                            <dd>2件</dd>
                        </dl>
                        <dl>
                            <dt>商品总金额：</dt>
                            <dd>￥7099.00</dd>
                        </dl>
                        <dl>
                            <dt>优惠金额：</dt>
                            <dd>￥0.00</dd>
                        </dl>
                        <dl>
                            <dt>运费：</dt>
                            <dd>￥20.00</dd>
                        </dl>
                        <dl>
                            <dt>优惠券抵扣：</dt>
                            <dd>￥100.00</dd>
                        </dl>
                        <dl class="price-dl">
                            <dt>应付总额：</dt>
                            <dd class="price">￥6999.00</dd>
                        </dl>
                        <div class="">
                            <a href="../index.html" class="cart-link">返回购物车</a>
                            <button type="button" class="layui-btn layui-btn-lg submit-btn action_checkout_submit"><a href="../../paycenter/index.html">提交订单</a></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- 公用底部-->
<div class="wrap-footer">
    <div class="footer-site-ensure">
        <div class="wrap-1200 clearfix">
            <dl style="width:19%;background:url('../../../statics/images/footer-icon2.png') no-repeat center left;margin-left: 1%;">
                <dt>商品安全</dt>
                <dd>精选食品 严格质检</dd>
            </dl>
            <dl style="width:19%;background:url('../../../statics/images/footer-icon5.png') no-repeat center left;margin-left: 1%;">
                <dt>全程冷链</dt>
                <dd>自营物流 安全可控</dd>
            </dl>
            <dl style="width:19%;background:url('../../../statics/images/footer-icon3.png') no-repeat center left;margin-left: 1%;">
                <dt>鲜活天然</dt>
                <dd>绿色生态 精挑先选</dd>
            </dl>
            <dl style="width:19%;background:url('../../../statics/images/footer-icon1.png') no-repeat center left;margin-left: 1%;">
                <dt>产地直采</dt>
                <dd>限定产源 质量保证</dd>
            </dl>
            <dl style="width:19%;background:url('../../../statics/images/footer-icon4.png') no-repeat center left;margin-left: 1%;">
                <dt>天天低价</dt>
                <dd>会员专属 优惠不停</dd>
            </dl>
        </div>
    </div>
    <div class="page-helper">
        <div class="wrap-1200 clearfix">
            <div class="helper-item">
                <dl class="content-list">
                    <dt class="content-title">
                        <a class="link" href="javascript:;">新手上路</a>
                    </dt>
                    <dd class="node-index content-item">
                        <a href="javascript:;" title="商品退货保障">商品退货保障</a>
                    </dd>
                    <dd class="node-index content-item">
                        <a href="javascript:;" title="积分奖励计划">积分奖励计划</a>
                    </dd>
                    <dd class="node-index content-item">
                        <a href="javascript:;" title="订单的几种状态">订单的几种状态</a>
                    </dd>
                    <dd class="node-index content-item">
                        <a href="javascript:;" title="顾客必读">顾客必读</a>
                    </dd>
                </dl>
            </div>
            <div class="helper-item">
                <dl class="content-list">
                    <dt class="content-title">
                        <a class="link" href="javascript:;">支付/配送方式</a>
                    </dt>
                    <dd class="node-index content-item">
                        <a href="javascript:;" title="关于送货和验货">关于送货和验货</a>
                    </dd>
                    <dd class="node-index content-item">
                        <a href="javascript:;" title="网上支付小贴士">网上支付小贴士</a>
                    </dd>
                    <dd class="node-index content-item">
                        <a href="javascript:;" title="订单何时出库？">订单何时出库？</a>
                    </dd>
                    <dd class="node-index content-item">
                        <a href="javascript:;" title="配送方式">配送方式</a>
                    </dd>
                    <dd class="node-index content-item">
                        <a href="javascript:;" title="支付方式">支付方式</a>
                    </dd>
                </dl>
            </div>
            <div class="helper-item">
                <dl class="content-list">
                    <dt class="content-title">
                        <a class="link" href="javascript:;">购物指南</a>
                    </dt>
                    <dd class="node-index content-item">
                        <a href="javascript:;" title="简单的购物流程">简单的购物流程</a>
                    </dd>
                    <dd class="node-index content-item">
                        <a href="javascript:;" title="网站免责声明">网站免责声明</a>
                    </dd>
                    <dd class="node-index content-item">
                        <a href="javascript:;" title="体贴的售后服务">体贴的售后服务</a>
                    </dd>
                    <dd class="node-index content-item">
                        <a href="javascript:;" title="非会员购物通道">非会员购物通道</a>
                    </dd>
                    <dd class="node-index content-item">
                        <a href="javascript:;" title="会员等级折扣">会员等级折扣</a>
                    </dd>
                </dl>
            </div>
            <div class="helper-item">
                <dl class="content-list">
                    <dt class="content-title">
                        <a class="link" href="javascript:;">购物条款</a>
                    </dt>
                    <dd class="node-index content-item">
                        <a href="javascript:;" title="隐私保护政策">隐私保护政策</a>
                    </dd>
                    <dd class="node-index content-item">
                        <a href="javascript:;" title="会员注册协议">会员注册协议</a>
                    </dd>
                    <dd class="node-index content-item">
                        <a href="javascript:;" title="网站使用条款">网站使用条款</a>
                    </dd>
                </dl>
            </div>
            <div class="helper-item">
                <dl class="content-list">
                    <dt class="content-title">
                        <a class="link" href="javascript:;">公司简介</a>
                    </dt>
                    <dd class="node-index content-item">
                        <a href="javascript:;" title="关于我们">关于我们</a>
                    </dd>
                </dl>
            </div>
            <div class="helper-item-r clearfix">
                <div class="footer-right-hotline fl">
                    <p class="hotline"><i class="cshop-icon cshop-icon-kefu"></i> 热线电话</p>
                    <p class="hotline"><b>400-000-8888</b></p>
                    <p class="time">在线时间 </p>
                    <p class="time">9:30 - 11:30</p>
                </div>
                <div class="footer-qr fr">
                    <img src="../../../statics/images/demo/footer_qr.png" width="104" height="104">
                </div>
            </div>
        </div>
    </div>
    <div class="page-footer">
        <div class="wrap-1200">
            <div class="theme-footer">
                <p>© 2012-2016 ganhao.com 版权所有 ICP证：浙ICP备13029734号-2</p>
                <p>食品流通许可证：许可证编号:SP3301081510036097 | 营业执照号：330103000176643 | 客服服务电话：400-811-3508</p>
                <br/>
                <p><img style="width: inherit;" src="../../../statics/images/demo/footer_alipay.png" ></p>
            </div>
        </div>
    </div>
</div>
<!-- 公用底部-->
</body>
<script>
    layui.use(['element','form'], function () {
        var form = layui.form;
        form.on('radio(isInvoice)', function (data) { //是否要发票
            var List= data.othis.parents('.order-invoice').find('.option-list,.action_add_invoice');
            if(data.value=='是'){
                List.show();
            }else{
                List.hide()
            }

        });

    });

    $(function () {
        if($('.order-address .option-item').length>4){
            $('.active_more_address').show();
        };

        $('#checkoutForm').on('click', '.option-list .option-item', function (e) {
            var target = $(e.target)
            if (target.hasClass('action_address_edit') || target.hasClass('action_address_delete') || target.hasClass('action_address_default') || target.hasClass('action_invoice_edit')) return false;
            $(this).addClass('active').siblings().removeClass('active');

        }).on('click','.action_address_edit',function(e){ // 收货地址编辑

        }).on('click','.action_address_delete',function(e){// 收货地址删除
            var el=$(this);
            layer.confirm('确定要删除该收货地址吗？', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                if (el.parents('.option-list').find('.option-item').length <= 5) {
                    $('.active_more_address').hide();
                }
                el.parents('.option-item').remove();
                layer.msg('已删除');

            }, function () {

            });

        }).on('click', '.active_more_address', function (e) {// 更多地址
            var el = $(this);
            var orderAdd = el.parents('.order-address');
            if (orderAdd.hasClass('show-more-address')) {
                orderAdd.removeClass('show-more-address');
                el.html('更多地址 <i class="layui-icon layui-icon-down"></i>')

            } else {
                orderAdd.addClass('show-more-address');
                el.html('收起地址 <i class="layui-icon layui-icon-up"></i>')
            };
        })
    });


</script>

</html>