<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>B2C商城-商品详情</title>
    <!--css文件-->
    <link rel="stylesheet" href="../../statics/layui/css/layui.css">
    <link rel="stylesheet" href="../../statics/stylesheets/style.css">

    <!--js文件-->
    <script src="../../statics/scripts/jquery.min.js"></script>
    <script src="../../statics/layui/layui.js"></script>
    <script src="../../statics/scripts/common.js"></script>
</head>

<body class="is-index">
<!-- 头部 header -->

    <!-- 顶部导航 -->
    <div class="topbar" id="topbar" >
        <div class="wrap-1200">
            <div class="topbar-l fl">
                <div class="topbar-nav-item" style="margin-left:0;" >
                    <div class="item-hd" >
                        <a href="../../index.html" target="_blank" >
                           <i class="layui-icon layui-icon-home topbar-icon"></i>您好，欢迎来到商城！</a></div>
                </div>
                <div class="topbar-nav-item">
                    <div class="item-hd">
                        <div class="topbar-notice" >
                            <ul class="topbar-notice-list" id="topbarNotice">
                                <li class="topbar-notice-item show" >
                                    <a class="topbar-notice-text" href="javascript:;" target="_blank" >【福利】1元包邮团，早市抵现红包在严选A...</a>
                                </li>
                                <li class="yx-cp-noticeItem" >
                                    <a class="topbar-notice-text" href="javascript:;" target="_blank">防诈骗公告</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="topbar-r fr">
                <div style="float:left;">
                    <div class="topbar-nav-item" >
                        <div class="item-hd" >
                            <a href="../passport/signin.html" target="_blank" title="网易严选登录" >登录</a>
                        </div>
                    </div>
                    <div class="topbar-nav-item" style="margin-left:20px;" >
                        <div class="item-hd" >
                            <a href="../passport/signup.html" target="_blank">注册</a>
                        </div>
                    </div>
                </div>
                <div class="topbar-nav-item">
                    <div class="item-hd line" >
                        <a href="javascript:;" target="_blank" >我的订单</a></div>
                </div>
                <div class="topbar-nav-item" data-dropdown="customerServiceDropdown" >
                    <div class="item-hd line" >
                        <span>客户服务</span><i class="layui-icon layui-icon-down topbar-icon" style="margin-left: 10px;"></i>
                    </div>
                    <div class="item-td">
                        <div class="topbar-dropdown-menu">
                            <a class="menu-item" href="javascript:;" >在线客服</a>
                            <a class="menu-item" href="javascript:;" target="_blank">帮助中心</a>
                            <a href="javascript:;" class="menu-item" target="_blank">商务合作</a>
                            <a href="javascript:;" class="menu-item" target="_blank">开放平台</a>
                        </div>
                    </div>
                </div>
                <div class="topbar-nav-item" data-dropdown="appDownload">
                    <div class="item-hd line" >
                        <a target="_blank" href="javascript:;" ><i class="layui-icon layui-icon-cellphone topbar-icon "></i><span>手机版</span></a>
                    </div>
                    <div class="item-td">
                        <div class="topbar-dropdown-menu topbar-dropdown-menu-mobile" >
                            <div class="QR-code" >
                                <img src="../../statics/images/demo_qrcode.png"/>
                            </div>
                            <span class="yx-cp-QRtxt">扫码浏览移动端</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 顶部导航end -->

    <!-- logo搜索 -->
    <div class="header">
        <div class="wrap-1200 clearfix pr">
            <div class="logo">
                <a href="../../index.html">
                    <img src="../../statics/images/demo_logo.png" alt="商城Logo" />
                </a>
            </div>
            <div class="searchbar">
                <form class="search-form" action="" method="post">
                    <input type="text" autocomplete="off" placeholder="搜索想要的商品"/><button class="submit" type="button"><i class="layui-icon layui-icon-search icon-search"></i></button>
                </form>
                <div class="search-hot">
                    <a href="javascript:;">iphone8</a><a href="javascript:;">chanel口红</a><a href="javascript:;">连衣裙</a>
                </div>
            </div>
            <!-- 迷你购物车 -->
            <div class="mini-cart">
                <div class="mini-cart-con">
                    <a href="index.html">
                      <i class="layui-icon layui-icon-cart"></i>
                      我的购物车
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- logo搜索 end -->

    <!-- 头部导航栏 -->
    <div class="nav">
        <div class="wrap-1200 clearfix">
            <div class="nav-left">
                <div class="category_handle">
                    <div class="all-cate">
                        <a href="#">全部商品分类</a>
                    </div>
                    <div class="category">
                        <ul class="category-primary">
                            <li>
                                <div class="category-primary-item">
                                    <a href="../gallery/index.html">服装鞋包 </a>
                                    <p>
                                        <a href="../gallery/index.html">女装</a><a href="../gallery/index.html">皮鞋</a><a href="../gallery/index.html">箱包</a>
                                    </p>
                                    <span class="layui-icon layui-icon-right"></span>
                                </div>
                                <div class="category-sub clearfix">
                                    <div class="category-sub-l fl">
                                        <div class="category-sub-item clearfix">
                                            <div class="category-sub-title fl">
                                                <a href="javascript:;">女装<span class="layui-icon layui-icon-right"></span></a>
                                            </div>
                                            <ul class="fl clearfix">
                                                <li>|<a href="javascript:;">连衣裙</a></li>
                                                <li>|<a href="javascript:;">外套</a></li>
                                                <li>| <a href="javascript:;">羽绒服</a></li>
                                                <li>|<a href="javascript:;">羊绒衫</a></li>
                                                <li>|<a href="javascript:;">卫衣</a></li>
                                                <li>|<a href="javascript:;">棉服</a></li>
                                                <li>|<a href="javascript:;">打底衫</a></li>
                                                <li>|<a href="javascript:;">T恤</a></li>
                                                <li>|<a href="javascript:;">小西服</a></li>
                                                <li>|<a href="javascript:;">休闲裤</a></li>
                                                <li>|<a href="javascript:;">牛仔裤</a></li>
                                                <li>|<a href="javascript:;">短裤</a></li>
                                                <li>|<a href="javascript:;">裙子</a></li>
                                            </ul>
                                        </div>
                                        <div class="category-sub-item clearfix">
                                            <div class="category-sub-title fl">
                                                <a href="javascript:;">女装<span class="layui-icon layui-icon-right"></span></a>
                                            </div>
                                            <ul class="fl clearfix">
                                                <li>|<a href="javascript:;">连衣裙</a></li>
                                                <li>|<a href="javascript:;">外套</a></li>
                                                <li>| <a href="javascript:;">羽绒服</a></li>
                                                <li>|<a href="javascript:;">羊绒衫</a></li>
                                                <li>|<a href="javascript:;">卫衣</a></li>
                                                <li>|<a href="javascript:;">棉服</a></li>
                                                <li>|<a href="javascript:;">打底衫</a></li>
                                                <li>|<a href="javascript:;">T恤</a></li>
                                                <li>|<a href="javascript:;">小西服</a></li>
                                                <li>|<a href="javascript:;">休闲裤</a></li>
                                                <li>|<a href="javascript:;">牛仔裤</a></li>
                                                <li>|<a href="javascript:;">短裤</a></li>
                                                <li>|<a href="javascript:;">裙子</a></li>
                                            </ul>
                                        </div>
                                        <div class="category-sub-item clearfix">
                                            <div class="category-sub-title fl">
                                                <a href="javascript:;">女装<span class="layui-icon layui-icon-right"></span></a>
                                            </div>
                                            <ul class="fl clearfix">
                                                <li>|<a href="javascript:;">连衣裙</a></li>
                                                <li>|<a href="javascript:;">外套</a></li>
                                                <li>| <a href="javascript:;">羽绒服</a></li>
                                                <li>|<a href="javascript:;">羊绒衫</a></li>
                                                <li>|<a href="javascript:;">卫衣</a></li>
                                                <li>|<a href="javascript:;">棉服</a></li>
                                                <li>|<a href="javascript:;">打底衫</a></li>
                                                <li>|<a href="javascript:;">T恤</a></li>
                                                <li>|<a href="javascript:;">小西服</a></li>
                                                <li>|<a href="javascript:;">休闲裤</a></li>
                                                <li>|<a href="javascript:;">牛仔裤</a></li>
                                                <li>|<a href="javascript:;">短裤</a></li>
                                                <li>|<a href="javascript:;">裙子</a></li>
                                            </ul>
                                        </div>
                                        <div class="category-sub-item clearfix">
                                            <div class="category-sub-title fl">
                                                <a href="javascript:;">女装<span class="layui-icon layui-icon-right"></span></a>
                                            </div>
                                            <ul class="fl clearfix">
                                                <li>|<a href="javascript:;">连衣裙</a></li>
                                                <li>|<a href="javascript:;">外套</a></li>
                                                <li>| <a href="javascript:;">羽绒服</a></li>
                                                <li>|<a href="javascript:;">羊绒衫</a></li>
                                                <li>|<a href="javascript:;">卫衣</a></li>
                                                <li>|<a href="javascript:;">棉服</a></li>
                                                <li>|<a href="javascript:;">打底衫</a></li>
                                                <li>|<a href="javascript:;">T恤</a></li>
                                                <li>|<a href="javascript:;">小西服</a></li>
                                                <li>|<a href="javascript:;">休闲裤</a></li>
                                                <li>|<a href="javascript:;">牛仔裤</a></li>
                                                <li>|<a href="javascript:;">短裤</a></li>
                                                <li>|<a href="javascript:;">裙子</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="category-sub-r fr">

                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="category-primary-item">
                                    <a href="javascript:;">服装鞋包 </a>
                                    <p>
                                        <a href="javascript:;">女装</a><a href="javascript:;">皮鞋</a><a href="javascript:;">箱包</a>
                                    </p>
                                    <span class="layui-icon layui-icon-right"></span>
                                </div>

                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="nav-right">
                <div class="menu">
                    <span><a href="javascript:;">首页</a></span><span><a href="javascript:;">会员中心</a></span><span><a href="javascript:;">热门活动</a></span>
                </div>
            </div>

        </div>
    </div>
    <!-- 头部导航栏 end -->
<!-- 头部 header end -->

<div class="main bg-gray pb20">
    <div class="wrap-1200">
        <div class="bread-crumbs">
            <span><a href="../../index.html">首页</a></span>
            <span> / </span>
            <span class="now">购物车</span>
        </div>

        <div class="cart-container">
            <form class="layui-form">
                <table class="cart-table">
                    <thead>
                        <tr>
                            <th width="8%"><input type="checkbox" name="" class="cart-checkall" title="全选" lay-skin="primary" lay-filter="checkall"></th>
                            <th width="40%">商品</th>
                            <th width="8%">单价</th>
                            <th width="12%">数量</th>
                            <th width="10%">优惠</th>
                            <th width="10%">小计</th>
                            <th width="12%">操作</th>
                        </tr>
                    </thead>
                    <!--有赠品demo-->
                    <tbody>
                        <tr class="goods-item">
                            <td class="goods-main" colspan="2">
                                <div class="fl item-checkbox">
                                    <input type="checkbox" name="" class="cart-checkitem" lay-skin="primary" lay-filter="checkitem">
                                </div>
                                <div class="goods-info clearfix">
                                    <div class="img">
                                        <a href="../product/index.html">
                                            <img class="img-hover" src="https://img14.360buyimg.com/n4/s160x160_jfs/t16960/219/2432021016/244846/2ac84b4a/5afc045cN7b06b30f.jpg">
                                        </a>
                                    </div>
                                    <div class="text">
                                        <p class="ml-ellipsis pt-name"><a href="../product/index.html">福临门 东北优质 大米 8kg</a></p>
                                        <p class="spec">重量：8kg</p>
                                    </div>
                                </div>
                            </td>
                            <td>￥48.90</td>
                            <td>
                                    <span class="p-quantity">
                                        <a href="javascript:;" class="btn btn-decrease layui-disabled">-</a><input type="text" name="goods[num]" class="layui-input action-quantity-input" value="1" min="1" max="10"><a href="javascript:;" class="btn btn-increase">+</a>
                                    </span>
                            </td>
                            <td class="goods-discount">-</td>
                            <td class="price">￥48.90</td>
                            <td><a href="javascript:;" class="red">收藏</a><a href="javascript:;" class="delete">移除</a></td>
                        </tr>
                        <tr class="goods-item">
                            <td class="goods-main" colspan="2">
                                <div class="goods-info clearfix">
                                    <div class="img">
                                        <a href="../product/index.html">
                                            <img class="img-hover" src="https://img14.360buyimg.com/n4/s160x160_jfs/t16960/219/2432021016/244846/2ac84b4a/5afc045cN7b06b30f.jpg">
                                        </a>
                                        <span class="promotion-tag">赠品</span>
                                    </div>
                                    <div class="text">
                                        <p class="ml-ellipsis pt-name"><a href="../product/index.html">福临门 东北优质 大米 8kg</a></p>
                                        <p class="spec">重量：8kg</p>
                                    </div>
                                </div>
                            </td>
                            <td>￥48.90</td>
                            <td>1</td>
                            <td class="goods-discount">-</td>
                            <td class="price">-</td>
                            <td><a href="javascript:;" class="red">收藏</a></td>
                        </tr>
                    </tbody>
                    <!--满减活动-->
                    <tbody>
                        <tr class="promotion-hd">
                            <td colspan="7">
                                <span class="cshop-tag">满减</span>
                                <span>活动商品购满￥100.00，即可减￥5.00，还差 <i class="remain">￥21.00</i></span>
                                <a href="javascript:;" class="red">去凑单 ></a>
                            </td>
                        </tr>
                        <tr class="goods-item">
                            <td class="goods-main" colspan="2">
                                <div class="fl item-checkbox">
                                    <input type="checkbox" class="cart-checkitem" name="" lay-skin="primary">
                                </div>
                                <div class="goods-info clearfix">
                                    <div class="img">
                                        <a href="../product/index.html">
                                            <img class="img-hover" src="https://img14.360buyimg.com/n4/s160x160_jfs/t16960/219/2432021016/244846/2ac84b4a/5afc045cN7b06b30f.jpg">
                                        </a>
                                    </div>
                                    <div class="text">
                                        <p class="ml-ellipsis pt-name"><a href="../product/index.html">福临门 东北优质 大米 8kg</a></p>
                                        <p class="spec">重量：8kg</p>
                                    </div>
                                </div>
                            </td>
                            <td>￥48.90</td>
                            <td>
                                <span class="p-quantity">
                                    <a href="javascript:;" class="btn btn-decrease layui-disabled">-</a><input type="text" name="goods[num]" class="layui-input action-quantity-input" value="1" min="1" max="5"><a href="javascript:;" class="btn btn-increase">+</a>
                                </span>
                            </td>
                            <td class="goods-discount">
                                <select name="">
                                    <option value="满减" selected>满100元减5元</option>
                                    <option value="换购">满49元加48元可换购商品</option>
                                    <option value="无">不使用活动优惠</option>
                                </select>
                            </td>
                            <td class="price">￥48.90</td>
                            <td><a href="javascript:;" class="red">收藏</a><a href="javascript:;" class="delete">移除</a></td>
                        </tr>
                        <tr class="goods-item">
                            <td class="goods-main" colspan="2">
                                <div class="fl item-checkbox">
                                    <input type="checkbox" class="cart-checkitem" name="" lay-skin="primary">
                                </div>
                                <div class="goods-info clearfix">
                                    <div class="img">
                                        <a href="../product/index.html">
                                            <img class="img-hover" src="https://img14.360buyimg.com/n4/s160x160_jfs/t16960/219/2432021016/244846/2ac84b4a/5afc045cN7b06b30f.jpg">
                                        </a>
                                    </div>
                                    <div class="text">
                                        <p class="ml-ellipsis pt-name"><a href="../product/index.html">福临门 东北优质 大米 8kg</a></p>
                                        <p class="spec">重量：8kg</p>
                                    </div>
                                </div>
                            </td>
                            <td>￥48.90</td>
                            <td>
                                <span class="p-quantity">
                                    <a href="javascript:;" class="btn btn-decrease layui-disabled">-</a><input type="text" name="goods[num]" class="layui-input action-quantity-input" value="1" min="1" max="20"><a href="javascript:;" class="btn btn-increase">+</a>
                                </span>
                            </td>
                            <td class="goods-discount">
                                <select name="" lay-filter="select1">
                                    <option value="满减" selected>满100元减5元</option>
                                    <option value="换购">满49元加48元可换购商品</option>
                                    <option value="无">不使用活动优惠</option>
                                </select>
                            </td>
                            <td class="price">￥48.90</td>
                            <td><a href="javascript:;" class="red">收藏</a><a href="javascript:;" class="delete">移除</a></td>
                        </tr>
                    </tbody>
                    <!--加价购-->
                    <tbody>
                        <tr class="promotion-hd">
                            <td colspan="7">
                                <span class="cshop-tag">加价购</span>
                                <span>活动商品购满￥59.00，即可加价购买商品1件，已满￥59.00</span>
                                <div class="choicegoods-div">
                                    <button class="layui-btn layui-btn-sm layui-btn-warm" type="button">换购商品</button>
                                    <div class="choicegoods-list">
                                        <div class="hd">
                                            可换购最多1件，已选0件
                                            <a href="javascript:;" class="fr">×</a>
                                        </div>
                                        <div class="choicegoods">
                                            <ul>
                                                <li class="goods-item clearfix">
                                                    <div class="img">
                                                        <a href="../product/index.html">
                                                            <img class="img-hover" src="https://img14.360buyimg.com/n4/s160x160_jfs/t16960/219/2432021016/244846/2ac84b4a/5afc045cN7b06b30f.jpg">
                                                        </a>
                                                    </div>
                                                    <div class="text">
                                                        <p class="ml-ellipsis pt-name"><a href="../product/index.html">福临门 东北优质 大米 8kg</a>
                                                        </p>
                                                        <p class="spec">重量：8kg</p>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="javascript:;" class="red">去凑单 ></a>
                            </td>
                        </tr>
                        <tr class="goods-item">
                            <td class="goods-main" colspan="2">
                                <div class="fl item-checkbox">
                                    <input type="checkbox" class="cart-checkitem" name="" lay-skin="primary">
                                </div>
                                <div class="goods-info clearfix">
                                    <div class="img">
                                        <a href="../product/index.html">
                                            <img class="img-hover" src="https://img14.360buyimg.com/n4/s160x160_jfs/t16960/219/2432021016/244846/2ac84b4a/5afc045cN7b06b30f.jpg">
                                        </a>
                                    </div>
                                    <div class="text">
                                        <p class="ml-ellipsis pt-name"><a href="../product/index.html">福临门 东北优质 大米 8kg</a></p>
                                        <p class="spec">重量：8kg</p>
                                    </div>
                                </div>
                            </td>
                            <td>￥48.90</td>
                            <td>
                                    <span class="p-quantity">
                                        <a href="javascript:;" class="btn btn-decrease layui-disabled">-</a><input type="text" name="goods[num]" class="layui-input action-quantity-input" value="1" min="1" max="1"><a href="javascript:;" class="btn btn-increase">+</a>
                                    </span>
                            </td>
                            <td class="goods-discount">
                                <select name="">
                                    <option value="满减">满100元减5元</option>
                                    <option value="换购" selected>满49元加48元可换购商品</option>
                                    <option value="无">不使用活动优惠</option>
                                </select>
                            </td>
                            <td class="price">￥48.90</td>
                            <td><a href="javascript:;" class="red">收藏</a><a href="javascript:;" class="delete">移除</a></td>
                        </tr>
                        <tr class="goods-item">
                            <td class="goods-main" colspan="2">
                                <div class="goods-info clearfix">
                                    <div class="img">
                                        <a href="../product/index.html">
                                            <img class="img-hover" src="https://img14.360buyimg.com/n4/s160x160_jfs/t16960/219/2432021016/244846/2ac84b4a/5afc045cN7b06b30f.jpg">
                                        </a>
                                        <span class="promotion-tag">加价购</span>
                                    </div>
                                    <div class="text">
                                        <p class="ml-ellipsis pt-name"><a href="../product/index.html">福临门 东北优质 大米 8kg</a></p>
                                        <p class="spec">重量：8kg</p>
                                    </div>
                                </div>
                            </td>
                            <td>￥48.90</td>
                            <td>1</td>
                            <td class="goods-discount">-￥15.00</td>
                            <td class="price">￥48.90</td>
                            <td><a href="javascript:;" class="red">收藏</a><a href="javascript:;" class="delete">移除</a></td>
                        </tr>
                    </tbody>
                    <!--无促销-->
                    <tbody>
                        <tr class="goods-item">
                            <td class="goods-main" colspan="2">
                                <div class="fl item-checkbox">
                                    <input type="checkbox" class="cart-checkitem" name="" lay-skin="primary">
                                </div>
                                <div class="goods-info clearfix">
                                    <div class="img">
                                        <a href="../product/index.html">
                                            <img class="img-hover" src="https://img14.360buyimg.com/n4/s160x160_jfs/t16960/219/2432021016/244846/2ac84b4a/5afc045cN7b06b30f.jpg">
                                        </a>
                                    </div>
                                    <div class="text">
                                        <p class="ml-ellipsis pt-name"><a href="../product/index.html">福临门 东北优质 大米 8kg</a></p>
                                        <p class="spec">重量：8kg</p>
                                    </div>
                                </div>
                            </td>
                            <td>￥48.90</td>
                            <td>
                                        <span class="p-quantity">
                                            <a href="javascript:;" class="btn btn-decrease layui-disabled">-</a><input type="text" name="goods[num]" class="layui-input action-quantity-input" value="1" min="1" max="2"><a href="javascript:;" class="btn btn-increase">+</a>
                                        </span>
                            </td>
                            <td class="goods-discount">-</td>
                            <td class="price">￥48.90</td>
                            <td><a href="javascript:;" class="red">收藏</a><a href="javascript:;" class="delete">移除</a></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="7" class="">
                                <div class="fl tfoot-l">
                                    <input type="checkbox" class="cart-checkall" name="f" title="全选" lay-skin="primary" lay-filter="checkall">
                                    <a href="javascript:;">清空购物车</a>
                                </div>
                                <div class="fr tfoot-r">
                                    <span class="tfoot-r-data">
                                        <em>已选商品 <i class="red">2</i> 件</em>
                                        <em>总计原价： ￥682.00</em>
                                        <em>优惠金额： -￥15.00</em>
                                        <em>合计： <i class="price">￥667.00</i></em>
                                    </span>
                                    <a href="checkout/index.html" class="layui-btn checkout-btn">去结算</a>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
</div>


<!-- 右侧菜单栏 -->
<div class="fixed-right-nav clearfix" id="fixedRightNav">
    <a class="nav-item" href="index.html">
        <i class="layui-icon layui-icon-cart"><em class="op-cart-count">0</em></i>
        <p>购物车</p>
    </a>
    <a class="nav-item" href="../member/index.html">
        <i class="layui-icon layui-icon-star"></i>
        <p>收藏</p>
    </a>
    <a class="nav-item" href="../member/index.html">
        <i class="layui-icon layui-icon-username"></i>
        <p>个人</p>
    </a>
    <a class="nav-item top-btn" href="#">
        <i class="cshop-icon cshop-icon-top"></i>
    </a>
</div>
<!-- 公用底部-->
<div class="wrap-footer">
    <div class="footer-site-ensure">
        <div class="wrap-1200 clearfix">
            <dl style="width:19%;background:url('../../statics/images/footer-icon2.png') no-repeat center left;margin-left: 1%;">
                <dt>商品安全</dt>
                <dd>精选食品 严格质检</dd>
            </dl>
            <dl style="width:19%;background:url('../../statics/images/footer-icon5.png') no-repeat center left;margin-left: 1%;">
                <dt>全程冷链</dt>
                <dd>自营物流 安全可控</dd>
            </dl>
            <dl style="width:19%;background:url('../../statics/images/footer-icon3.png') no-repeat center left;margin-left: 1%;">
                <dt>鲜活天然</dt>
                <dd>绿色生态 精挑先选</dd>
            </dl>
            <dl style="width:19%;background:url('../../statics/images/footer-icon1.png') no-repeat center left;margin-left: 1%;">
                <dt>产地直采</dt>
                <dd>限定产源 质量保证</dd>
            </dl>
            <dl style="width:19%;background:url('../../statics/images/footer-icon4.png') no-repeat center left;margin-left: 1%;">
                <dt>天天低价</dt>
                <dd>会员专属 优惠不停</dd>
            </dl>
        </div>
    </div>
    <div class="page-helper">
        <div class="wrap-1200 clearfix">
            <div class="helper-item">
                <dl class="content-list">
                    <dt class="content-title">
                        <a class="link" href="javascript:;">新手上路</a>
                    </dt>
                    <dd class="node-index content-item">
                        <a href="javascript:;" title="商品退货保障">商品退货保障</a>
                    </dd>
                    <dd class="node-index content-item">
                        <a href="javascript:;" title="积分奖励计划">积分奖励计划</a>
                    </dd>
                    <dd class="node-index content-item">
                        <a href="javascript:;" title="订单的几种状态">订单的几种状态</a>
                    </dd>
                    <dd class="node-index content-item">
                        <a href="javascript:;" title="顾客必读">顾客必读</a>
                    </dd>
                </dl>
            </div>
            <div class="helper-item">
                <dl class="content-list">
                    <dt class="content-title">
                        <a class="link" href="javascript:;">支付/配送方式</a>
                    </dt>
                    <dd class="node-index content-item">
                        <a href="javascript:;" title="关于送货和验货">关于送货和验货</a>
                    </dd>
                    <dd class="node-index content-item">
                        <a href="javascript:;" title="网上支付小贴士">网上支付小贴士</a>
                    </dd>
                    <dd class="node-index content-item">
                        <a href="javascript:;" title="订单何时出库？">订单何时出库？</a>
                    </dd>
                    <dd class="node-index content-item">
                        <a href="javascript:;" title="配送方式">配送方式</a>
                    </dd>
                    <dd class="node-index content-item">
                        <a href="javascript:;" title="支付方式">支付方式</a>
                    </dd>
                </dl>
            </div>
            <div class="helper-item">
                <dl class="content-list">
                    <dt class="content-title">
                        <a class="link" href="javascript:;">购物指南</a>
                    </dt>
                    <dd class="node-index content-item">
                        <a href="javascript:;" title="简单的购物流程">简单的购物流程</a>
                    </dd>
                    <dd class="node-index content-item">
                        <a href="javascript:;" title="网站免责声明">网站免责声明</a>
                    </dd>
                    <dd class="node-index content-item">
                        <a href="javascript:;" title="体贴的售后服务">体贴的售后服务</a>
                    </dd>
                    <dd class="node-index content-item">
                        <a href="javascript:;" title="非会员购物通道">非会员购物通道</a>
                    </dd>
                    <dd class="node-index content-item">
                        <a href="javascript:;" title="会员等级折扣">会员等级折扣</a>
                    </dd>
                </dl>
            </div>
            <div class="helper-item">
                <dl class="content-list">
                    <dt class="content-title">
                        <a class="link" href="javascript:;">购物条款</a>
                    </dt>
                    <dd class="node-index content-item">
                        <a href="javascript:;" title="隐私保护政策">隐私保护政策</a>
                    </dd>
                    <dd class="node-index content-item">
                        <a href="javascript:;" title="会员注册协议">会员注册协议</a>
                    </dd>
                    <dd class="node-index content-item">
                        <a href="javascript:;" title="网站使用条款">网站使用条款</a>
                    </dd>
                </dl>
            </div>
            <div class="helper-item">
                <dl class="content-list">
                    <dt class="content-title">
                        <a class="link" href="javascript:;">公司简介</a>
                    </dt>
                    <dd class="node-index content-item">
                        <a href="javascript:;" title="关于我们">关于我们</a>
                    </dd>
                </dl>
            </div>
            <div class="helper-item-r clearfix">
                <div class="footer-right-hotline fl">
                    <p class="hotline"><i class="cshop-icon cshop-icon-kefu"></i> 热线电话</p>
                    <p class="hotline"><b>400-000-8888</b></p>
                    <p class="time">在线时间 </p>
                    <p class="time">9:30 - 11:30</p>
                </div>
                <div class="footer-qr fr">
                    <img src="../../statics/images/demo/footer_qr.png" width="104" height="104">
                </div>
            </div>
        </div>
    </div>
    <div class="page-footer">
        <div class="wrap-1200">
            <div class="theme-footer">
                <p>© 2012-2016 ganhao.com 版权所有 ICP证：浙ICP备13029734号-2</p>
                <p>食品流通许可证：许可证编号:SP3301081510036097 | 营业执照号：330103000176643 | 客服服务电话：400-811-3508</p>
                <br/>
                <p><img style="width: inherit;" src="../../statics/images/demo/footer_alipay.png" ></p>
            </div>
        </div>
    </div>
</div>
<!-- 公用底部-->
</body>
<script>
    layui.use(['element','form'], function () {
        var form = layui.form;
        form.on('select(select1)', function (data) {
            console.log(data.elem); //得到select原始DOM对象
            console.log(data.value); //得到被选中的值
            console.log(data.othis); //得到美化后的DOM对象
        });
        form.on('checkbox(checkall)', function (data) {
            console.log(data.elem); //得到checkbox原始DOM对象
            console.log(data.elem.checked); //是否被选中，true或者false
            console.log(data.value); //复选框value值，也可以通过data.elem.value得到
            console.log(data.othis); //得到美化后的DOM对象

            if(data.elem.checked){
                $('.cart-table').find('.cart-checkitem,.cart-checkall').prop('checked', true);
                $('.cart-table').find('.cart-checkitem,.cart-checkall').next(".layui-form-checkbox").addClass('layui-form-checked');
            }else{
                $('.cart-table').find('.cart-checkitem,.cart-checkall').prop('checked', false);
                $('.cart-table').find('.cart-checkitem,.cart-checkall').next(".layui-form-checkbox").removeClass('layui-form-checked');
            }
        });
    });

    $(function () {


    });


</script>

</html>